input[type="checkbox"] {
  width: 50px; /*Desired width*/
  height: 50px; /*Desired height*/
  border-radius: 10px;
}

.addFunds_input_container input {
  border: none;
  font-size: 2rem;
}
.addFunds_input_container input:focus {
  outline: none;
}

/* _collectionDetails_  */
.collectionDetails_container {
  text-align: center;
  min-width: 500px;
}

.reviewCollection_checkbox {
  margin: 0 8rem;
  display: flex;
  align-items: center;
}
.collectionInfo {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 0 1rem;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .collectionDetails_container {
    min-width: 90vw;
    width: 90vw;
    height: 100vh;
    overflow: scroll;
  }

  .reviewCollection_checkbox {
    margin: 0;
    align-items: flex-start;
  }
  .collectionInfo {
    margin: 1rem 0;
  }
  .addFunds_input_container input {
    font-size: 1rem;
    width: 150px !important;
  }
}
@media screen and (max-width: 1024px) {
  .reviewCollection_checkbox {
    margin: 0;
    align-items: flex-start;
  }
}

/* CompleteCheckout  */
.CompleteCheckout_checkbox {
  margin: 0 8rem;
  display: flex;
  align-items: center;
}
.CompleteCheckout_btn {
  margin-right: 3rem;
}
.completeCheckout_header {
  text-align: center;
  letter-spacing: 2px;
  margin: 1rem 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .CompleteCheckout_checkbox {
    margin: 1rem;
  }
  .CompleteCheckout_btn {
    margin-right: 1rem;
  }
  .completeCheckout_header {
    margin-top: 3rem;
  }
}
