.connect-dropdown {
  width: 413px;
  height: 297px;
  position: absolute;
  right: 1%;
  z-index: 10000;
  border-radius: 18px;
  background-color: #f5f5f5;
}
.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw 0 3vw;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #4a4a4a;
  height: 33px;
  border-radius: 18px 18px 0px 0px;
}
.dropdown-close {
  width: 14px;
  height: 14px;
  background-color: white;
}
.dropdown-close svg {
  vertical-align: top;
}
.dropdown-close:hover {
  cursor: pointer;
}
.metamask {
  display: flex;
  justify-content: space-between;
  /* padding: 0 2vw; */
  align-items: center;
  color: black;
  margin: auto;
  margin-top: 3vh;
  border: 3px solid #d0021b;
  font-size: 14px;
  font-weight: bold;
  border-radius: 18px;
  width: 339px;
  height: 44px;
}
.metamask:hover {
  cursor: pointer;
}
.metamask span {
  margin-left: 1vw;
}
.binancewallet,
.walletconnect {
  border: none;
}
.metamask img {
  width: 30px;
  margin-right: 1vw;
}
.binancewallet img,
.walletconnect img {
  height: 50px;
}
.span-link {
  margin-left: -4vw;
}
.span-link a {
  color: #d0021b;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .connect-dropdown {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .connect-dropdown {
    height: 300px;
  }
}
